.wrapper {
    container-type: inline-size;
    
    width: 100%;
    max-width: 1000px;
}

.title {
    font-size: 2.2rem;
    text-align: center;

    padding: 0rem;
    margin: 0rem;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    column-gap: 12px;
    justify-items: center;

    list-style: none;

    padding: 0rem;
    margin: 0rem;

    width: auto;
}

.categories-container > li {
    display: flex;
    justify-content: center;
    
    width: 100%;
}