.wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 10rem;
    height: 2.30rem;
    padding: 0.2rem;
}

.NavigationButton {
    align-self: center;

    color: rgba(255, 255, 255, 1.0);
    font-family: Nunito;
    text-align: center;
    text-decoration: none;
    border: 0.1rem solid rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;

    width: 100%;
    padding: 0.3rem 0.8rem;

    transition: transform 0.25s ease-in-out 0s;
}

.NavigationButton:hover,
.NavigationButton:focus {
    transform: scale(110%);
    outline: 1px solid white;
}
.NavigationButton:focus {
    outline: 2px solid white;
}