@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
.wrapper[animate="true"] .technologies-panels-container > * {
    animation: 0.3s ease-in-out 0.15s 1 normal forwards fade-in;
}

.wrapper {
    container-type: inline-size;
    
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;

    width: inherit;
}

.technologies-panels-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    list-style: none;

    width: inherit;
    padding: 0rem;
    margin: 0rem;
}

.technologies-panels-container > li {
    opacity: 0%;
}