.wrapper {
    container-type: inline-size;
    
    width: 100%;
    max-width: 320px;
}

.container {
    display: flex;
    flex-direction: column;
}

.technologies-panels-container {
    list-style: none;

    padding: 0rem;
    margin: 0rem;
}