.wrapper {
    container-type: inline-size;
    
    width: 100%;
    max-width: 1000px;
}

.title {
    font-size: 2.2rem;
    text-align: center;
}

.project-category-title {
    font-size: 1.4rem;
}