.wrapper {
    container-type: inline-size;
    
    width: 100%;
    max-width: 1000px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.title {
    font-size: 2.2rem;
    text-align: center;

    padding: 0rem;
    margin: 0rem;
}