.wrapper {
    container-type: inline-size;

    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    border-radius: 8px;
    background-color: rgb(36, 36, 36);
    
    width: auto;
    height: 100%;
    padding: 1.2rem 0.8rem;
}

.technology-name {
    padding: 0rem;
    margin: 0rem;
}