@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
.wrapper[animate="true"] .project-category-projects > * {
    animation: 0.3s ease-in-out 0.15s 1 normal forwards fade-in;
}

.wrapper {
    container-type: inline-size;
    
    width: 100%;
    max-width: 1000px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.project-category-title {
    font-size: 1.4rem;
    text-align: center;

    padding: 0rem;
    margin: 0rem;
}

.project-category-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    row-gap: 1.0rem;
    column-gap: 1.0rem;
    justify-items: center;

    list-style: none;

    padding: 0rem;
    margin: 0rem;

    width: auto;
}

.project-category-projects > li {
    display: flex;
    justify-content: center;
    
    width: 100%;
}

.project-category-projects > * {
    opacity: 0%;
}

.show-more-button {
    place-self: center;

    color: rgba(255, 255, 255, 0.9);
    font-family: Nunito;
    font-size: 1.1rem;

    background-color: transparent;
    border: none;
    border-radius: 9999px;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);

    width: 100%;
    max-width: 20rem;
    height: 2rem;
    margin-top: 0.4rem;

    transition-property: transform, color, outline;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}



@media (hover: hover) {
    .show-more-button:hover {
        transform: scale(104%);
        color: rgba(255, 255, 255, 1.0);
        outline: 3px solid rgba(255, 255, 255, 1.0);
    }
}

.show-more-button:focus {
    transform: scale(104%);
    color: rgba(255, 255, 255, 1.0);
    outline: 3px solid rgba(255, 255, 255, 1.0);
}