@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
.wrapper[animate="true"] .container {
    animation: 0.5s ease-in-out 0.15s 1 normal forwards fade-in;
}
.wrapper[animate="true"] .photo {
    animation: 0.5s ease-in-out 0.4s 1 normal forwards fade-in;
}
.wrapper[animate="true"] .name {
    animation: 0.5s ease-in-out 0.65s 1 normal forwards fade-in;
}
.wrapper[animate="true"] .personal-page-links {
    animation: 0.5s ease-in-out 0.9s 1 normal forwards fade-in;
}
.wrapper[animate="true"] .about-me-container {
    animation: 0.5s ease-in-out 1.15s 1 normal forwards fade-in;
}

.wrapper {
    container-type: inline-size;

    width: 100%;
    max-width: 1000px;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    opacity: 0%;
    background-color: rgb(227, 252, 255);
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);

    padding: 0.5rem;
}

.photo {
    place-self: center;

    opacity: 0%;
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);

    width: 100%;
    max-width: 460px;
    max-height: 100%;
}

.name {
    opacity: 0%;
    color: rgba(0, 0, 0, 0.96);
    font-size: 1.8rem;
    text-align: center;

    padding: 0rem;
    margin: 0.4rem 0.2rem 0.2rem;
}

.personal-page-links {
    display: flex;
    justify-content: center;
    flex-direction: row;

    opacity: 0%;

    list-style: none;

    padding: 0rem;
    margin: 0.2rem 0.12rem;
}

.about-me-container {
    display: flex;
    flex-direction: column;

    opacity: 0%;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;

    padding: 0.4rem;
    margin: 1.2rem 0.12rem 0.2rem;
}

.about-me-title {
    align-self: start;

    color: rgba(0, 0, 0, 0.96);
    background-color: rgb(227, 252, 255);
    font-size: 1.28rem;
    text-align: left;

    position: relative;
    top: -1.5rem;
    padding: 0rem 0.4rem;
    margin: 0rem;
    margin-bottom: -1.5rem;
}

.about-me-paragraph-list {
    display: grid;
    grid-template-rows: auto;
    gap: 0.8rem;

    padding: 0rem;
    margin: 0rem;
}
.about-me-paragraph-list li {
    list-style: none;
}

.about-me-paragraph {
    color: rgba(0, 0, 0, 0.92);
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    text-align: justify;
    line-height: 1.32rem;

    padding: 0rem;
    margin: 0rem;
}

@container (width > 600px) {
    .container {
        grid-template-rows: repeat(2, auto) 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .photo {
        grid-area: 1 / 1 / -1 / 2;

        width: 100%;
        max-width: 100%;
    }

    .name {
        grid-area: 1 / 2 / 2 / -1;
    }

    .personal-page-links {
        grid-area: 2 / 2 / 3 / -1;
    }

    .about-me-container {
        grid-area: 3 / 2 / -1 / -1;

        margin-left: 0.6rem;
        margin-bottom: 0rem;
    }
}