.container {
    display: flex;

    border-radius: 6px;

    padding: 0.2rem 0.4rem;
    margin: 0rem;
}

.technology-name {
    place-self: center;

    color: white;
    text-align: center;
    border-radius: 6px;

    padding: 0rem;
    margin: 0rem;
}