.container {
    width: 100%;
    
    border: 1px solid white;
}

.nav-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    list-style: none;

    padding: 0rem;
    margin: 0rem;

    border: 1px solid white;
}

.nav-button {
    display: flex;
    justify-content: center;

    width: 100%;
}