/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400');

/* Material Symbols */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,0&display=swap');

:root {
    font-family: Gabarito, Roboto, Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(117, 42, 146);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }