.material-symbols-rounded {
    color: black;

    background-color: transparent;

    border: none;
    transition: transform 0.24s ease-in-out 0s;
}

.material-symbols-rounded:hover {
    transform: scale(115%);
}